accounts/
pycache/
data/audio_temp
data/ottohzys
data/pjsk
localstore/abot/
*.pyc
plugins/#/
data/zxui/web_ui/
localstore/nonebot-plugin-orm/migrations/nonebot_plugin_memes/60dbbe448c16_data_migrate.py
