accounts/
pycache/
data/audio_temp
data/ottohzys
data/pjsk
*.pyc
plugins/#/
data/zxui/web_ui/
Dockerfile1
log.log
plugins/nonebot_plugin_tarot/*
screen/
localstore/nonebot_plugin_memes/*
LeafGames/backup/
localstore/
data/
data/zxui/
ChatGPT/